spring:
  thymeleaf:
    cache: false
  datasource:
    url: jdbc:mariadb://localhost:3307/hr
    driverClassName: org.mariadb.jdbc.Driver
    username: root
    password: 1234
  jpa:
    defer-datasource-initialization: true
    open-in-view: false # 트랜잭션 범위 밖에서 영속성 컨텍스트를 유지할지 여부
    database-platform: org.hibernate.dialect.MariaDBDialect
    hibernate:
      ddl-auto: none # create-drop, update, validate, none
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
        implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyLegacyJpaImpl
    show-sql: true
  servlet:
    multipart:
      max-request-size: 10MB
      max-file-size: 10MB



# 
# property와 yml은 같다. 회사가면 둘 중 하나를 쓰므로 둘 다쓸줄 알아야한다.