<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .list{
        padding: 10px;
        border-color: black;
        border-width: 2px;
        border-style: solid;
        margin: 10px;
      }
    </style>
  </head>
  <body>
    <h1>직원 리스트</h1>
    <div class="list" th:onclick="goDetail([[${dto.employeeId}]])" th:each="dto : ${empTableDTOList}">
        <span>직원번호 : </span>
        <span th:text="${dto.employeeId}"></span>
        <br>
        <span>직원이름 : </span>
        <span th:text="${dto.firstName}"></span>
    </div>

    <script>
      const goDetail = (employeeId) => {
        location.href = "/emp/" + employeeId;
      }
    </script>
  </body>
</html>
