<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .list{
        padding: 10px;
        border-color: black;
        border-width: 2px;
        border-style: solid;
      }
    </style>
  </head>
  <body>
    <h1>직원 리스트</h1>
    <div class="list">
        <a href="emp/1">
      <ul>
        <li>직원번호 : </li>
        <li>직원이름 : </li>
      </ul>
        </a>
    </div>
    <div>
      <ul>
        <li>직원번호 :</li>
        <li>직원이름 :</li>
      </ul>
    </div>
  </body>
</html>
